*{
  font-family: Helvetica,Arial,  sans-serif;
  background-color: blue;
  color: aliceblue;
}

body{
  padding: 60px;
}
input{
  font-size: 1.2rem;
  width: 100%;
  color: blanchedalmond;
  
}

.card{
  align-content: center;
  border: 1px solid white;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card p{
  padding: 5px;
  text-align: center;
}

.card img{
  max-height: 100px;
  border-radius: 20%;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


